<div id="section-home" class="section section1">
            <div class="test">
                
            </div>

            <div class="data">
                <div class="logo knoplinks">
                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/logo.png") }}">
                </div>
                <div class="logo knoplinks ladies">
                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/logoladies.png") }}">
                </div>
                <div class="facebook knoprechts">
                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/facebook.png") }}">
                </div>
                <div class="ergo knoprechts">
                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/ergo.png") }}">
                </div>
                <div class="datum">
                    23 mei 2015
                </div>
                <div class="iconen">
                    
                        <div class="row">
                            <div class="klein partners col-xs-6 col-sm-2 col-sm-offset-1">
                                <div class="dummy"></div>
                                 <div class="background">
                                    &nbsp;
                                </div>
                                <div class="content">
                                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/partners.png") }}">
                                    <span class="titel">Partners</span>    
                                </div>
                                
                            </div>
                            <div class="klein programma col-xs-6 col-sm-2">                    
                                <div class="dummy"></div>
                                <div class="background">
                                    &nbsp;
                                </div>
                                <div class="content">
                                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/programma.png") }}">
                                    <span class="titel">Programma</span>
                                </div>
                            </div>
                            <div class="groot inschrijven col-xs-12 col-sm-2">
                                <a href="#section-inschrijven">
                                     <div class="groot dummy"></div>
                                     <div class="groot background">
                                        &nbsp;
                                    </div>
                                    <div class="content">
                                        <img src="{{ image("@ColdkitchenBundle/Resources/public/images/inschrijven.png") }}">
                                        <span class="titel">Inschrijven</span>
                                    </div>
                                </a>
                            </div>
                            <div class="klein fotos col-xs-6 col-sm-2">
                                 <div class="dummy"></div>
                                 <div class="background">
                                    &nbsp;
                                </div>
                                <div class="content">
                                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/fotos.png") }}">
                                    <span class="titel">Fotos</span>
                                </div>
                            </div>
                            <div class="klein contact col-xs-6 col-sm-2">
                                 <div class="dummy"></div>
                                 <div class="background">
                                    &nbsp;
                                </div>
                                <div class="content">
                                    <img src="{{ image("@ColdkitchenBundle/Resources/public/images/contact.png") }}">
                                    <span class="titel">Contact</span>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>