{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Speler list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Voornaam</th>
                <th>Geboortedatum</th>
                <th>Straat</th>
                <th>Huisnr</th>
                <th>Bus</th>
                <th>Woonplaats</th>
                <th>Postcode</th>
                <th>Telefoon</th>
                <th>Gsm</th>
                <th>Emailadres</th>
                <th>Rugnummer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('speler_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.naam }}</td>
                <td>{{ entity.voornaam }}</td>
                <td>{% if entity.geboortedatum %}{{ entity.geboortedatum|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.straat }}</td>
                <td>{{ entity.huisnr }}</td>
                <td>{{ entity.bus }}</td>
                <td>{{ entity.woonplaats }}</td>
                <td>{{ entity.postcode }}</td>
                <td>{{ entity.telefoon }}</td>
                <td>{{ entity.gSM }}</td>
                <td>{{ entity.emailadres }}</td>
                <td>{{ entity.rugnummer }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('speler_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('speler_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('speler_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
