{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Vraag list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Email</th>
                <th>Telefoon</th>
                <th>Tekst</th>
                <th>Datumverstuurd</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vraag_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.naam }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefoon }}</td>
                <td>{{ entity.tekst }}</td>
                <td>{% if entity.datumVerstuurd %}{{ entity.datumVerstuurd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('vraag_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vraag_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('vraag_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
