<html>
	<head>
		{% block title %}
			<title>Inschrijving Cold Kitchentornooi</title>
		{% endblock %}
		<style>
			html, body {
				width: 100%;
			}
			body {
				
			}
			h4 {
				font-size: 26px;
				color: black;
				font-family: 'MyriadProSemiBoldItalic';
			}
			ul {
				list-style: none;
				li {
					list-style: none;
				}
			}
			.vierkant {
				border: solid 3px #aaae01;
				padding-top: 40px;padding-bottom: 40px;
				padding-left: 30px;padding-right:30px;
				width: 85%;
				margin: auto;
				max-width: 750px;
			}
			#logocoldkitchen, #logoladies {
				display: block;
				height: 40px;
				width: auto;
				margin-bottom: 20px;
			}
			#logocoldkitchen {
				float: left;
			}
			#logoladies {
				float: right;
			}
			.logos {
				margin-bottom: 30px;
				overflow: hidden;
			}
			.voornaam {
				color: #aaae01;
			}

			p {
				font-family: 'MyriadProRegular';
			}
			p.dikker {
				font-family: 'MyriadProSemiBold';
			}

			a, a:hover, a:focus, a.active {
				color: #aaae01;
				text-decoration: none;
			}

			a.button {
				color: white;
				background-color: #aaae01;
				padding: 10px 50px;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border-radius: 7px;
				margin-top: 20px;
				margin-bottom: 20px;
				display: inline-block;
				font-family: 'MyriadProBoldItalic';
				font-size: 34px;
			}

			.wachtwoord {
				color: #aaae01;
				margin-left: 30px;
			}

			@font-face {
			    font-family: 'MyriadProSemiBoldItalic';
			    src: url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-SEMIBOLDIT-webfont.eot', absolute=true) }}');
			    src: url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-SEMIBOLDIT-webfont.eot', absolute=true) }}?#iefix') format('embedded-opentype'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-SEMIBOLDIT-webfont.woff2', absolute=true) }}') format('woff2'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-SEMIBOLDIT-webfont.woff', absolute=true) }}') format('woff'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-SEMIBOLDIT-webfont.ttf', absolute=true) }}') format('truetype'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-SEMIBOLDIT-webfont.svg#webfontregular', absolute=true) }}') format('svg');
			    font-weight: normal;
			    font-style: normal;
			}
			@font-face {
			    font-family: 'MyriadProRegular';
			    src: url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-REGULAR-webfont.eot', absolute=true) }}');
			    src: url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-REGULAR-webfont.eot', absolute=true) }}?#iefix') format('embedded-opentype'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-REGULAR-webfont.woff2', absolute=true) }}') format('woff2'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-REGULAR-webfont.woff', absolute=true) }}') format('woff'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-REGULAR-webfont.ttf', absolute=true) }}') format('truetype'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-REGULAR-webfont.svg#webfontregular', absolute=true) }}') format('svg');
			    font-weight: normal;
			    font-style: normal;
			}
			@font-face {
			    font-family: 'MyriadProSemiBold';
			    src: url('{{ asset('bundles/coldkitchen/fonts/myriadpro-semibold-webfont.eot', absolute=true) }}');
			    src: url('{{ asset('bundles/coldkitchen/fonts/myriadpro-semibold-webfont.eot', absolute=true) }}?#iefix') format('embedded-opentype'),
			         url('{{ asset('bundles/coldkitchen/fonts/myriadpro-semibold-webfont.woff2', absolute=true) }}') format('woff2'),
			         url('{{ asset('bundles/coldkitchen/fonts/myriadpro-semibold-webfont.woff', absolute=true) }}') format('woff'),
			         url('{{ asset('bundles/coldkitchen/fonts/myriadpro-semibold-webfont.ttf', absolute=true) }}') format('truetype'),
			         url('{{ asset('bundles/coldkitchen/fonts/myriadpro-semibold-webfont.svg#webfontregular', absolute=true) }}') format('svg');
			    font-weight: normal;
			    font-style: normal;
			}
			@font-face {
			    font-family: 'MyriadProBoldItalic';
			    src: url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-BOLDIT-webfont.eot', absolute=true) }}');
			    src: url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-BOLDIT-webfont.eot', absolute=true) }}?#iefix') format('embedded-opentype'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-BOLDIT-webfont.woff2', absolute=true) }}') format('woff2'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-BOLDIT-webfont.woff', absolute=true) }}') format('woff'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-BOLDIT-webfont.ttf', absolute=true) }}') format('truetype'),
			         url('{{ asset('bundles/coldkitchen/fonts/MYRIADPRO-BOLDIT-webfont.svg#webfontregular', absolute=true) }}') format('svg');
			    font-weight: normal;
			    font-style: normal;
			}


			

		</style>
	</head>
	<body >
		<div class="vierkant">
			<div class="logos">
				<img id="logocoldkitchen" alt="Logo Coldkitchen" src="{{ asset("bundles/coldkitchen/images/logozwart.png", absolute=true) }}">
				<img id="logoladies" alt="Logo Coldkitchen" src="{{ asset("bundles/coldkitchen/images/logoladieszwart.png", absolute=true) }}">
			</div>
			<font face="'MyriadProBoldItalic', Arial, sans-serif"><h4>Beste <span class="voornaam">{{ ploeg.kapiteinvoornaam }}</span> </h4></font><br/>
			<p>
				Bedankt voor je inschrijving voor het Cold Kitchen Tornooi. Het tornooi gaat door op zaterdag 23 mei 
				op de velden van de Gulden Kamer (Geralaan, Sint-Kruis Brugge) aan de kant van de Cerkelladies.
			</p>
			<p class="dikker">
				Je inschrijving is definitief op het moment dat het inschrijvingsgeld overgemaakt werd. <br/>
				U krijgt daar dan een bevestiging van.
			</p>
			<p>
				Indien u dat nog niet deed, kunt u nu 110 euro storten op 733-0260669-60  met vermelding van uw 
				naam, ploegnaam, gsm, email en reeks. Zo kunnen wij een laatste controle uitvoeren.<br/>
				De ploegverantwoordelijke krijgt 30 euro waarborg na het tornooi, zoals omschreven staat in het reglement.
			</p>
			<p>
				Via <a href="{{ url('ploeg_edit_kort', { 'id': ploeg.id }, true) }}">deze link</a> kunt u uw ploeg beheren. <br/>
				Let op: uiterlijk op zaterdag 16 mei dient uw ploeg compleet ingevuld te zijn.
			</p>
			<center>
				<a href="{{ url('ploeg_edit', { 'id': ploeg.id }, true) }}" class="button">Ploegbeheer</a>
			</center>
			<p>
				Uw paswoord om in te loggen is: <span class="wachtwoord">{{ wachtwoord }}</span>
			</p>
			<p>
				Aarzel niet om ons te contacteren als je vragen of opmerkingen hebt! <br/>
				Stuur gerust een mailtje naar dejonckheerewouter@gmail.com of bel op 0473 82 45 85.
			</p>
			<p>
				Met sportieve groeten<br/>
				De organisatie
			</p>	
		</div>
	</body>
</html>