
<div id="carousel-spelers" class="carousel slide" data-ride="carousel"> 
  <!-- Wrapper for slides -->
  <div class="controls">
    <div class="col-xs-3">
      <div class="vorige" href="#carousel-spelers" role="button">
        <span ><i class="fa fa-caret-left fa-2x"></i></span>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="titelspelernaam">
        Speler 1
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="volgende" href="#carousel-spelers" role="button">
          <span ><i class="fa fa-caret-right  fa-2x "></i></span>
        </div>
      </div>
    </div>
  
  </div>
  <div class="paginainschrijven" role="listbox">
    <div class="item active">
      <div class="formulier">
        <form class="spelers">
          <div class="hiddenspelernummer">1</div>
          <div class="hiddendirty"></div>
          <div class="hiddenrow"></div>
          <div class="hiddenteladen hidden"></div>
            <div class="col-sm-6">
              <div class="row invoerveld">
                <label for="spelernaam">Naam: *</label>
                <input type="text" id="spelernaam" value="{{ entity.spelers.0.naam }}">  
                <input type="hidden" id="spelernaamold" value="{{ entity.spelers.0.naam }}">  
              </div>
              <div class="row invoerveld">
                <label for="spelervoornaam">Voornaam: *</label>
                <input type="text" id="spelervoornaam"  value="{{ entity.spelers.0.voornaam }}">  
                <input type="hidden" id="spelervoornaamold"  value="{{ entity.spelers.0.voornaam }}">  
              </div>
              <div class="row invoerveld">
                <label for="spelergeboortedatum">Geboortedatum: *</label>
                {% include 'ColdkitchenBundle:Ploeg:dateselect.html.twig' with {'naam': '', 'datum': entity.spelers.0.geboortedatum } %}
                {% include 'ColdkitchenBundle:Ploeg:dateselect.html.twig' with {'naam': 'old', 'datum': entity.spelers.0.geboortedatum } %}
              </div>
              <div class="adres">
                <div class="row invoerveld">
                  <div class="col-xs-8 nopaddingleft">
                    <label for="spelerstraat">Straat :*</label>
                    <input type="text" id="spelerstraat"  value="{{ entity.spelers.0.straat }}">  
                    <input type="hidden" id="spelerstraatold"  value="{{ entity.spelers.0.straat }}">  
                  </div>
                  <div class="col-xs-2 nopadding">
                    <label for="spelerhuisnr">Huisnr: *</label>
                    <input type="text" id="spelerhuisnr"  value="{{ entity.spelers.0.huisnr }}">  
                    <input type="hidden" id="spelerhuisnrold"  value="{{ entity.spelers.0.huisnr }}">  
                  </div>
                  <div class="col-xs-2 nopaddingright">
                    <label for="spelerbus">Bus:</label>
                    <input type="text" id="spelerbus"  value="{{ entity.spelers.0.bus }}">  
                    <input type="hidden" id="spelerbusold"  value="{{ entity.spelers.0.bus }}">  
                  </div>
                </div>
                <div class="row invoerveld">
                  <div class="col-xs-9 nopaddingleft">
                    <label for="spelerwoonplaats">Woonplaats:*</label>
                    <input type="text" id="spelerwoonplaats"  value="{{ entity.spelers.0.woonplaats }}">  
                    <input type="hidden" id="spelerwoonplaatsold"  value="{{ entity.spelers.0.woonplaats }}">  
                  </div>
                  <div class="col-xs-3 nopaddingright">
                    <label for="spelerpostcode">Postcode:*</label>
                    <input type="text" id="spelerpostcode"  value="{{ entity.spelers.0.postcode }}">  
                    <input type="hidden" id="spelerpostcodeold"  value="{{ entity.spelers.0.postcode }}">  
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row invoerveld">
                  <label for="spelergsm">GSM:*</label>
                  <input type="text" id="spelergsm"  value="{{ entity.spelers.0.gsm }}">  
                  <input type="hidden" id="spelergsmold"  value="{{ entity.spelers.0.gsm }}">  
                </div>
                <div class="row invoerveld">
                  <label for="spelertelefoon">Telefoon: </label>
                  <input type="text" id="spelertelefoon"  value="{{ entity.spelers.0.telefoon }}">  
                  <input type="hidden" id="spelertelefoonold"  value="{{ entity.spelers.0.telefoon }}">  
                </div>
                
                <div class="row invoerveld">
                  <label for="speleremail">Emailadres:*</label>
                  <input type="text" id="speleremailadres"  value="{{ entity.spelers.0.emailadres }}">  
                  <input type="hidden" id="speleremailadresold"  value="{{ entity.spelers.0.emailadres }}">  
                </div>
                <div class="row invoerveld">
                  <label for="spelerrugnummer">Rugnummer:*</label>
                  <input type="text" id="spelerrugnummer"  value="{{ entity.spelers.0.rugnummer }}">  
                  <input type="hidden" id="spelerrugnummeoldr"  value="{{ entity.spelers.0.rugnummer }}">  
                </div>
                <div class="row ">
                  <div id="foutmelding">
                    <i class="fa fa-exclamation-circle"></i> gelieve alle verplichte velden in te vullen
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="row uitleg">
      <h5>
          Gelieve deze gegevens correct in te vullen voor de verzekeringen.
      </h5>
      <h6>
        Uw ploeg dient 1 week voor het tornooi volledig ingevuld te zijn.
      </h6>
      <div class="button partners disabled opslaan">GEGEVENS OPSLAAN</div>
    </div>
    <div class="spelerstabel">
      <table class="table table-bordered table-hover">
        <tr>
          <th class="col-xs-2 col-sm-2 col-md-1">
          </th>
          <th class="col-xs-6 col-sm-4 col-md-4">
            naam
          </th>
          <th class="xs-hidden col-sm-3 col-md-4">
            voornaam
          </th>
          <th class="xs-hidden col-sm-2 col-md-2">
            rug nr.
          </th>
          <th class="col-xs-1 col-sm-1 col-md-1">
          </th>
        </tr>
        {% for speler in entity.spelers %}
            <tr id="rij{{ loop.index }}">
              <td>
                Speler {{ speler.spelernummer }}
              </td>
              <td>
                {{ speler.naam }}
              </td>
              <td>
                {{ speler.voornaam }}
              </td>
              <td>
                {{ speler.rugnummer }}
              </td>
              <td align=center>
                <img src="{{ image("@ColdkitchenBundle/Resources/public/images/kruisje.png") }}"
              </td>
            </tr>
        {% endfor %}
      </table>
    </div>

  </div>

  <!-- Controls -->

</div>
<div id="modalbevestig" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Niet alle wijzigingen werden opgeslaan!<br/>
          <br/>
          Wenst u deze alsnog op te slaan ?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="opslaan" class="btn btn-primary">Ja</button>
        <button type="button" id="discard" class="btn btn-primary">Nee</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="verwijdermodal" class="modal fade">
  <div class="hidden" id="hiddenverwijderspelernummer"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Bent u zeker dat u speler <span id="verwijdernaam"></span> <span id="verwijdervoornaam"></span> wenst te verwijderen?<br/>
          <br/>
          Dit kan NIET ongedaan gemaakt worden!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="verwijderja" class="btn btn-primary">Ja</button>
        <button type="button" id="verwijdernee" class="btn btn-primary">Nee</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modalloading"><!-- Place at bottom of page --></div>

<script>

Date.prototype.toMysqlFormat = function() {
    return this.getUTCFullYear() + "-" + twoDigits(1 + this.getUTCMonth()) + "-" + twoDigits(this.getUTCDate()) + " " + twoDigits(this.getUTCHours()) + ":" + twoDigits(this.getUTCMinutes()) + ":" + twoDigits(this.getUTCSeconds());
};

function twoDigits(d) {
    if(0 <= d && d < 10) return "0" + d.toString();
    if(-10 < d && d < 0) return "-0" + (-1*d).toString();
    return d.toString();
}

function VulDatum($datum){
  console.log("We proberen datum : " + $datum);
  $datum = new Date($datum);
  $dag = $datum.getDate();
  $maand = $datum.getMonth();
  $maand++;
  $jaar = $datum.getFullYear();
  console.log("Dag : " + $dag + "\nMaand: " + $maand +"\nJaar: " + $jaar);

  $('[id^=coldkitchenbundle_speler_geboortedatum_day]').each(function(){
    $(this).val($dag);
  })
  $('[id^=coldkitchenbundle_speler_geboortedatum_month]').each(function(){
    $(this).val($maand);
  })
  $('[id^=coldkitchenbundle_speler_geboortedatum_year]').each(function(){
    $(this).val($jaar);
  })
}
function LeesDatum(){
  $dag = $('[id=coldkitchenbundle_speler_geboortedatum_day]').val();
  $maand = $('[id=coldkitchenbundle_speler_geboortedatum_month]').val();
  $jaar = $('[id=coldkitchenbundle_speler_geboortedatum_year]').val();

  //$maand--;

  $datum= $dag + " " + $maand + " " + $jaar;

  console.log("Datum: " + $datum);
  return $datum;
}
  
  $('#cancel').click(function(){
    // De gebruiker klikte op cancel in het modal formulier
    $('#modalbevestig').modal('hide');
  })

  $('#opslaan').click(function(){
    // De gebruiker klikte op opslaan in het modal formulier
    $('#modalbevestig').modal('hide');
    savePlayer();
    //loadPlayer($('.hiddenteladen').html());
  })

  $('#discard').click(function(){
    // De gebruiker klikte op cancel in het modal formulier
    $('#modalbevestig').modal('hide');
    loadPlayer($('.hiddenteladen').html());
  })

  $('.vorige').click(function(){
    $huidig = $('.hiddenspelernummer').html();
    $volgend = $huidig - 1;
    checkloadPlayer($volgend);
  })
  $('.volgende').click(function(){
    $huidig = $('.hiddenspelernummer').html();
    $huidig++;
    checkloadPlayer($huidig);
  })

  function checkloadPlayer(spelernummer) {
    $('.hiddenrow').html(spelernummer);
    $('.hiddenteladen').html(spelernummer);

    if(!$('.opslaan').hasClass('disabled')){
      $('#modalbevestig').modal({
        backdrop: 'static'
      });
    }else{
      loadPlayer(spelernummer);
    }
  }

  function loadPlayer(spelernummer){
    $('#foutmelding').css('display','none');
    console.log("We laden speler : " + spelernummer);
    $('#modalload').modal('show');
    origineel = "{{path('laadajaxspeler', { 'spelernummer' : 99 })}}";
    var goeie = origineel.replace(99,spelernummer);
    $.get(goeie, function(response){
          if(response.code == 100 && response.success){//dummy check
            var speler = jQuery.parseJSON( response.antwoord );
            console.log(speler);

            $('[id^=spelernaam]').each(function(){
              $(this).val(speler.naam);
            })
            $('[id^=spelervoornaam]').each(function(){
              $(this).val(speler.voornaam);
            })
            
            $('[id^=spelerstraat]').each(function(){
              $(this).val(speler.straat);
            })
            $('[id^=spelerhuisnr]').each(function(){
              $(this).val(speler.huisnr);
            })
            $('[id^=spelerbus]').each(function(){
              $(this).val(speler.bus);
            })
            $('[id^=spelerwoonplaats]').each(function(){
              $(this).val(speler.woonplaats);
            })
            $('[id^=spelerpostcode]').each(function(){
              $(this).val(speler.postcode);
            })
            $('[id^=spelertelefoon]').each(function(){
              $(this).val(speler.telefoon);
            })
            $('[id^=spelergsm]').each(function(){
              $(this).val(speler.gsm);
            })
            $('[id^=speleremailadres]').each(function(){
              $(this).val(speler.emailadres);
            })
            $('[id^=spelerrugnummer]').each(function(){
              $(this).val(speler.rugnummer);
            })
            //console.log("geboortdatum" + speler.geboortedatum);
            VulDatum(speler.geboortedatum);

            $('.hiddenspelernummer').html(spelernummer);

            $('#titelspelernaam').html('Speler ' + spelernummer)
            if(spelernummer==1){
              $('.vorige').css('visibility','hidden');
            }else{
              $('.vorige').css('visibility','visible');
            }
            if(spelernummer==11){
              $('.volgende').css('visibility','hidden');
            }else{
              $('.volgende').css('visibility','visible');
            }
            $('.opslaan').addClass('disabled');

            $rij = $('#rij' + spelernummer);
            $rij.find("td").eq(1).html(speler.naam);
            $rij.find("td").eq(2).html(speler.voornaam);
            $rij.find("td").eq(3).html(speler.rugnummer);
            console.log($rij);
            $('.hiddendirty').html();

          }else{
            console.log("FOUT GEBEURD : " + response.code);
          }
    }, "json");  
    $('#modalload').modal('hide');
  }

  function formValid(){
    var fouten= [];

    /*
     * We controleren naam, voornaam, geboortedatum, straat, huisnr, woonplaats, postcode, gsm, emailadres en rugnummer
     * 
     */
    
    $naam = $('#spelernaam').val();
    $voornaam = $('#spelervoornaam').val();
    $straat = $('#spelerstraat').val();
    $huisnr = $('#spelerhuisnr').val();
    $woonplaats = $('#spelerwoonplaats').val();
    $postcode = $('#spelerpostcode').val();
    $gsm = $('#spelergsm').val();
    $emailadres = $('#speleremailadres').val();
    $rugnummer = $('#spelerrugnummer').val();

    if($naam.length==0) {
      fouten[fouten.length] = "Naam is niet ingevuld";
    }
    if($voornaam.length==0) {
      fouten[fouten.length] = "Voornaam is niet ingevuld";
    }
    if($straat.length==0) {
      fouten[fouten.length] = "Straat is niet ingevuld";
    }
    if($huisnr.length==0) {
      fouten[fouten.length] = "Huisnr is niet ingevuld";
    }
    if($woonplaats.length==0) {
      fouten[fouten.length] = "Woonplaats is niet ingevuld";
    }
    if($postcode.length==0) {
      fouten[fouten.length] = "Postcode is niet ingevuld";
    }else{
      if(!isNumeric($postcode)){
        fouten[fouten.length] = "Postcode is geen getal";
      }
    }
    if($gsm.length==0) {
      fouten[fouten.length] = "Gsm is niet ingevuld";
    }
    if($emailadres.length==0) {
      fouten[fouten.length] = "Emailadres is niet ingevuld";
    }
    if($rugnummer.length==0) {
      fouten[fouten.length] = "Rugnummer is niet ingevuld";
    }else{
      if(!isNumeric($rugnummer)){
        fouten[fouten.length] = "Rugnummer is geen getal";
      }
    }

    console.log("Fouten : " + fouten);
    return(!fouten.length);
  }

  function isNumeric(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
  }

  function savePlayer(){
    if(formValid()){
        console.log("We proberen op te slaan");
            
        $geboortedatum = LeesDatum();

        $spelernummer = $('.hiddenspelernummer').html();
        $naam = $('#spelernaam').val();
        $voornaam = $('#spelervoornaam').val();
        $straat = $('#spelerstraat').val();
        $huisnr = $('#spelerhuisnr').val();
        $bus = $('#spelerbus').val();
        $woonplaats = $('#spelerwoonplaats').val();
        $postcode = $('#spelerpostcode').val();
        $telefoon = $('#spelertelefoon').val();
        $gsm = $('#spelergsm').val();
        $emailadres = $('#speleremailadres').val();
        $rugnummer = $('#spelerrugnummer').val();

        $.ajax({
            type: "POST",    //define the type of ajax call (POST, GET, etc)
            url: "{{ path('saveajaxplayer') }}",   //The name of the script you are calling
            data: {

           "spelernummer" : $spelernummer,
           "naam" : $naam,
           "voornaam" : $voornaam,
           "straat" : $straat,
           "huisnr" : $huisnr,
           "bus" : $bus,
           "woonplaats" : $woonplaats,
           "postcode" : $postcode,
           "telefoon" : $telefoon,
           "gsm" : $gsm,
           "emailadres" : $emailadres,
           "rugnummer" : $rugnummer,
           "geboortedatum" : $geboortedatum
          },    //Your data you are sending to the script
            success: function(msg){
              $rij = $('#rij' + $spelernummer);
              $rij.find("td").eq(1).html($naam);
              $rij.find("td").eq(2).html($voornaam);
              $rij.find("td").eq(3).html($rugnummer);
              $('#foutmelding').css('display','none');
                $('.opslaan').addClass('disabled');
                $origineel = $('.hiddenteladen').html();
                if( $origineel.length==0){
                  loadPlayer($spelernummer);
                }else{
                  loadPlayer($('.hiddenteladen').html());
                }
        }
        //$('#modalload').modal('hide');
      });
    }else{
      $('#foutmelding').css('display','block');
      console.log("Speler wordt niet opgeslaan");
    }
  }


  function reposition() {
      var modal = $(this),
          dialog = modal.find('.modal-dialog');
          modal.css('display', 'block');
      
      // Dividing by two centers the modal exactly, but dividing by three 
      // or four works better for larger screens.
      dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
  }
  
  $('#modalbevestig').on('show.bs.modal', reposition);
  $('#modalload').on('show.bs.modal', reposition);
    // Reposition when the window is resized
  $(window).on('resize', function() {
      $('#modalbevestig:visible').each(reposition);
      $('#modalload:visible').each(reposition);
  });

  $('.opslaan').click(function(){
    savePlayer();
  })

  $('td').click(function(){
    var col = $(this).parent().children().index($(this));
    var row = $(this).parent().parent().children().index($(this).parent());

    if(row>0){
      console.log(col);
      if(col<4){

        checkloadPlayer(row);
      }else{
        $rij = $('#rij' + row);
        $naam = $rij.find("td").eq(1).html().trim();
        $voornaam = $rij.find("td").eq(2).html().trim();
        
        console.log("Naam : " + $naam);
        console.log("Voornaam : " + $voornaam);

        $('#verwijdernaam').html($naam);
        $('#verwijdervoornaam').html($voornaam);
        $('#hiddenverwijderspelernummer').html(row);
        $('#verwijdermodal').modal('show');
      }
    }
  });

  $('#verwijderja').click(function(){
    $('#verwijdermodal').modal('hide');
    spelernummer = $('#hiddenverwijderspelernummer').html();
    console.log("Verwijder speler : " + spelernummer);
    origineel = "{{path('verwijderajaxspeler', { 'spelernummer' : 99 })}}";
    var goeie = origineel.replace(99,spelernummer);
    $.get(goeie, function(response){
      if(response.code == 100 && response.success){//dummy check
        $rij = $rij = $('#rij' + spelernummer);
        $rij.find("td").eq(1).html('');
        $rij.find("td").eq(2).html('');
        $rij.find("td").eq(3).html('');
        
      }
    }, "json");  

    console.log("We mogen verwijderen");
  })
  $('#verwijdernee').click(function(){
    $('#verwijdermodal').modal('hide');
    console.log("We mogen niet verwijderen");
  })

  function checkChanged(welk){
    $element = $(welk).attr('id');

     $oldelement = "#" + $element + "old";
     //alert($oldelement);

     $huidigeval = $(welk).val();
     $oudeval = $($oldelement).val();
     console.log("Huidige waarde : " + $huidigeval + " Oude waarde: " + $oudeval);
     $tekst = $('.hiddendirty').html();
     $elementclean = $element.replace('_','');
     if($huidigeval!=$oudeval){
      $('.hiddendirty').html($tekst.replace($elementclean,'') + $elementclean);
    }else{
      $('.hiddendirty').html($tekst.replace($elementclean,''));
    }
    $tekst = $('.hiddendirty').html();
    console.log("Tekst in dirty: '" + $('.hiddendirty').html() + "'");
    if($tekst.length==0){
      $('.opslaan').addClass('disabled');
    }else{
      $('.opslaan').removeClass('disabled');
    }
  }

  $("input[type='text']").on('change keyup paste mouseup', function() {
     checkChanged(this);
  });
  $("[id^=coldkitchenbundle_speler_geboortedatum_]").on('change', function() {
     checkChanged(this);
  });


  $body = $("body");
  
  $(document).ready(function(){
    loadPlayer(1);
  })

  $(document).on({
      ajaxStart: function() { $body.addClass("loading");    },
       ajaxStop: function() { $body.removeClass("loading"); }    
  });

</script>
