

	<div class="container fotos">
		<h1>Foto's</h1>
		<br/><br/>
		<div class="row">
			<span id="huidige">2</span>
			<span id="aantalfotos">{{ data|length }}</span>
			<div class="col-xs-1">
				<i class="vorigefoto fa fa-chevron-left fa-3x"></i>
			</div>
			<div class="col-xs-10">
				<div class="fotolijn">

					{% for foto in data %}
							<div id="foto{{loop.index}}" class=" {{ loop.first ? 'eerstefoto' }} {{ loop.index==2 ? 'tweedefoto' }}{{ loop.index==3 ? 'derdefoto' }} {{ loop.index > 3 ? 'niettonen' }}">
								<div class="overlay">
									<a href="{{ foto.source }}"><img id="actualfoto{{ loop.index }}" src="{{ loop.index < 7 ? foto.source : '' }}" class="{{ loop.index < 6 ? 'geladen' : '' }}" data-volledigeurl="{{ loop.index > 5 ? foto.source : "" }}"></a>
								</div>
							</div>
					{% endfor %}

				</div>
			</div>
			<div class="col-xs-1">
				<i class="volgendefoto fa fa-chevron-right fa-3x"></i>
			</div>
		</div>
		<br/>
		<a class="button fotos " href="{{ path('fotos') }}">Meer foto's</a>
	</div>
	<script>
		$('.fotolijn').magnificPopup({
		  delegate: 'a', // child items selector, by clicking on it popup will open
		  type: 'image',
		  gallery: {
		      enabled: true
		  },
		  // other options
		});
	</script>
	<script>
		$('.volgendefoto').click(function(){
			$huidigefoto = $('#huidige').html();
			$aantalfotos = $('#aantalfotos').html();
			console.log("Huidige foto : " + $huidigefoto + " Aantal Fotos: " + $aantalfotos);
			if($huidigefoto < ($aantalfotos-1)){
				$een = parseInt($huidigefoto) - 1;
				$huidigeeerstefoto = $('#foto' + $een);

				$huidigeeerstefoto.removeClass('eerstefoto');
				$huidigeeerstefoto.addClass('niettonen');

				$foto1 = $('#foto' + $huidigefoto);
				$foto1.addClass('eerstefoto');
				$foto1.removeClass('tweedefoto');

				$twee = parseInt($huidigefoto) + 1;
				$drie = parseInt($huidigefoto) + 2;
				console.log("Drie : " + $drie);

				$foto2 = $('#foto' + $twee);
				console.log($foto2);
				$foto2.addClass('tweedefoto');
				$foto2.removeClass('derdefoto');

				$foto3 = $('#foto' + $drie);
				$foto3.addClass('derdefoto');
				$foto3.removeClass('niettonen');
				$('#huidige').html($twee);	

				/*if(($twee+1)<parseInt($aantalfotos)){
					$('.volgendefoto').addClass('onzichtbaar');
				}
				if($('.vorigefoto').hasClass('onzichtbaar')){
					$('.vorigefoto').removeClass('onzichtbaar');
				}	*/

				$zes = parseInt($drie) + 3;
				console.log("Foto zes is : #foto" + $zes);
				$fotozes = $('#foto' + $zes);
				if(!(($fotozes).hasClass('geladen'))){
					$totaan = parseInt($zes)+4;
					for($teller=parseInt($zes);$teller<$totaan;$teller++){
						$element = $('#actualfoto' + $teller);
						//console.log($element);
						$goeieurl = $element.data('volledigeurl');
						//console.log($goeieurl);
						$element.attr('src',$goeieurl);
						$('foto' + $teller).addClass('geladen');
					}

				}
			}
		})

		$('.vorigefoto').click(function(){
			$huidigefoto = $('#huidige').html();
			$aantalfotos = $('#aantalfotos').html();
			console.log("Huidige foto : " + $huidigefoto + " Aantal Fotos: " + $aantalfotos);
			if($huidigefoto > 2){
				$een = parseInt($huidigefoto) - 1;
				$drie = parseInt($huidigefoto) + 1;
				$huidigeeerstefoto = $('#foto' + $een);
				$huidigetweedefoto = $('#foto' + $huidigefoto);
				$huidigederdefoto = $('#foto' + $drie);

				$huidigeeerstefoto.removeClass('eerstefoto');
				$huidigeeerstefoto.addClass('tweedefoto');
				$huidigetweedefoto.removeClass('tweedefoto');
				$huidigetweedefoto.addClass('derdefoto');
				$huidigederdefoto.removeClass('derdefoto');
				$huidigederdefoto.addClass('niettonen');

				$nieuwe = $een - 1;
				$nieuwefoto = $('#foto' + $nieuwe);
				$nieuwefoto.removeClass('niettonen');
				$nieuwefoto.addClass('eerstefoto');

				$huidigefoto = $('#huidige').html($een);		
				/*
				if($huidigefoto<3){
					$('.vorigefoto').addClass('onzichtbaar');
				}
				if($('.volgendefoto').hasClass('onzichtbaar')){
					$('.volgendefoto').removeClass('onzichtbaar');
				}*/
			}
		})

		/*$('.volgendefoto').click(function(){
			$huidige = $('#huidige').html();
			$aantalfotos = $('#aantalfotos').html();
			if($huidigefoto < ($aantalfotos-1)){
				$huidigeeerstefoto = $('foto' + ($huidigefoto -1));

				$huidigeeerstefoto.addClass('niettonen');
				$huidigeeerstefoto.removeClass('eerstefoto');

				$foto1 = $('foto' + $huidigefoto);
				$foto1.addClass('eerstefoto');
				$huidigeeerstefoto.removeClass('niettonen');

				$foto2 = $('foto' + ($huidigefoto+1));
				$foto2.addClass('tweedefoto');
				$foto2.removeClass('derdefoto');

				$foto3 = $('foto' + ($huidigefoto+2));
				$foto3.addClass('derdefoto');
				$foto3.removeClass('niettonen');				
			}
		})*/
	</script>
